In [1]:
import pandas as pd
import numpy as np

from TREEplus import *

In [2]:
pd.options.display.max_columns = None
dataframe = pd.read_table('lpmc.dat')
print(dataframe.shape)
dataframe.head()

(81086, 32)

,trip_id,household_id,person_n,trip_n,travel_mode,purpose,fueltype,faretype,bus_scale,survey_year,travel_year,travel_month,travel_date,day_of_week,start_time,age,female,driving_license,car_ownership,distance,dur_walking,dur_cycling,dur_pt_access,dur_pt_rail,dur_pt_bus,dur_pt_int,pt_interchanges,dur_driving,cost_transit,cost_driving_fuel,cost_driving_ccharge,driving_traffic_percent
0,0,0,0,0,4,3,1,1,1.0,1,2012,4,1,7,10.000000,56,1,1,2,778,0.218056,0.092222,0.134444,0.0,0.016667,0.0,0,0.052222,1.5,0.14,0.0,0.111702
1,1,0,0,1,4,3,1,1,1.0,1,2012,4,1,7,13.000000,56,1,1,2,778,0.188889,0.061944,0.109444,0.0,0.055556,0.0,0,0.059444,1.5,0.15,0.0,0.112150
2,2,0,0,2,4,3,1,1,1.0,1,2012,4,1,7,17.000000,56,1,1,2,4562,1.037778,0.355833,0.203056,0.0,0.210278,0.0,0,0.236667,1.5,0.79,0.0,0.203052
3,3,0,0,3,4,3,1,1,1.0,1,2012,4,1,7,17.350000,56,1,1,2,4562,1.039444,0.384444,0.205556,0.0,0.258611,0.0,0,0.233333,1.5,0.78,0.0,0.160714
4,4,0,1,2,4,3,1,4,1.0,1,2012,4,1,7,19.583333,54,0,1,2,4562,1.037778,0.355833,0.203056,0.0,0.189444,0.0,0,0.229167,1.5,0.78,0.0,0.130909

In [3]:
#binning age
dataframe = pd.read_table('lpmc.dat')

groupDict={'0-18':0,'19-30':0,'31-65':0, '66+': 0}

for i in dataframe['age']:
    if i>=0 and i<=10:
        groupDict['0-18']+=1
    elif i>=19 and i<=30:
        groupDict['19-30']+=1
    elif i>=31 and i<=65:
        groupDict['31-65']+=1
    else:
        groupDict['66+']+=1

dataframe.loc[dataframe['age']<=18, 'age_group'] = '0-18'
dataframe.loc[dataframe['age'].between(19,30), 'age_group'] = '19-30'
dataframe.loc[dataframe['age'].between(31,65), 'age_group'] = '31-65'
dataframe.loc[dataframe['age']>65, 'age_group'] = '66+'
dataframe.drop(['age'], axis= 1, inplace = True)


#binning distance

dataframe.loc[dataframe['distance']< 658.50, 'distance_group'] = 'distance01'
dataframe.loc[dataframe['distance'].between(658.50,861.49), 'distance_group'] = 'distance02'
dataframe.loc[dataframe['distance'].between(861.50,1214.49), 'distance_group'] = 'distance03'
dataframe.loc[dataframe['distance'].between(1214.50,1514.49 ), 'distance_group'] = 'distance04'
dataframe.loc[dataframe['distance'].between(1514.50, 2156.49), 'distance_group'] = 'distance05'
dataframe.loc[dataframe['distance'].between(2156.50, 2759.49), 'distance_group'] = 'distance06'
dataframe.loc[dataframe['distance'].between(2759.50, 4391.49), 'distance_group'] = 'distance07'
dataframe.loc[dataframe['distance'].between(4391.50, 5369.49), 'distance_group'] = 'distance08'
dataframe.loc[dataframe['distance'].between(5369.50, 10087.49), 'distance_group'] = 'distance09'
dataframe.loc[dataframe['distance'].between(10087.50, 14695.49), 'distance_group'] = 'distance10'
dataframe.loc[dataframe['distance']>=14695.50, 'distance_group'] = 'distance11'
dataframe.drop('distance', axis = 1, inplace = True)

#binning start time

dataframe.loc[dataframe['start_time']<8.091666, 'starttime_group'] = 'early_morning'
dataframe.loc[dataframe['start_time'].between(8.091666,10.00833320), 'starttime_group'] = 'morning'
dataframe.loc[dataframe['start_time'].between(10.008333211,18.50833320), 'starttime_group'] = 'afternoon'
dataframe.loc[dataframe['start_time']> 18.50833321, 'starttime_group'] = 'evening'
dataframe.drop('start_time', axis = 1, inplace = True)

#binning cost transit

dataframe.loc[dataframe['cost_transit']< 1.52499998, 'cost_group'] = 'low_cost'
dataframe.loc[dataframe['cost_transit'].between(1.52499998,3.01999997), 'cost_group'] = 'medium_cost'
dataframe.loc[dataframe['cost_transit']> 3.01999998, 'cost_group'] = 'high_cost'
dataframe.drop('cost_transit', axis = 1, inplace = True)

#binning cost_driving_Fuel

dataframe.loc[dataframe['cost_driving_fuel']< 0.165, 'costdrivingfuel_group'] = 'costdrivingfuelgroup1'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.165,0.204), 'costdrivingfuel_group'] = 'costdrivingfuelgroup2'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.205,0.244), 'costdrivingfuel_group'] = 'costdrivingfuelgroup3'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.245, 0.294), 'costdrivingfuel_group'] = 'costdrivingfuelgroup4'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.295, 0.354), 'costdrivingfuel_group'] = 'costdrivingfuelgroup5'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.355, 0.44499998), 'costdrivingfuel_group'] = 'costdrivingfuelgroup6'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.44499999, 0.83499997), 'costdrivingfuel_group'] = 'costdrivingfuelgroup7'
dataframe.loc[dataframe['cost_driving_fuel'].between(0.83499998, 1.17499994), 'costdrivingfuel_group'] = 'costdrivingfuelgroup8'
dataframe.loc[dataframe['cost_driving_fuel'].between(1.17499995, 2.31499993), 'costdrivingfuel_group'] = 'costdrivingfuelgroup9'
dataframe.loc[dataframe['cost_driving_fuel']> 2.31499994, 'costdrivingfuel_group'] = 'costdrivingfuelgroup10'
dataframe.drop('cost_driving_fuel', axis = 1, inplace = True)

#binning driving traddic percent

dataframe.loc[dataframe['driving_traffic_percent']< 0.24422751, 'trafficperc_group'] = '0low_traffic'
dataframe.loc[dataframe['driving_traffic_percent'].between(0.24422751,0.36449698), 'trafficperc_group'] = '1mediumlow_traffic'
dataframe.loc[dataframe['driving_traffic_percent'].between(0.36449699,0.49620750), 'trafficperc_group'] = '2medium_traffic'
dataframe.loc[dataframe['driving_traffic_percent'].between(0.49620751, 0.57161700), 'trafficperc_group'] = '3mediumhigh_traffic'
dataframe.loc[dataframe['driving_traffic_percent']> 0.57161701, 'trafficperc_group'] = '4high_traffic'
dataframe.drop('driving_traffic_percent', axis = 1, inplace = True)

#binning cost_driving_ccharge

dataframe.loc[dataframe['cost_driving_ccharge']< 5.25, 'drivingcharge_group'] = 'low_charge'
dataframe.loc[dataframe['cost_driving_ccharge']> 5.25, 'drivingcharge_group'] = 'high_charge'
dataframe.drop('cost_driving_ccharge', axis = 1, inplace = True)

In [4]:
for i in dataframe.columns:
      if i not in ['trip_id', 'household_id', 'person_n', 'trip_n', 'travel_date', 'dur_pt_int',
          'dur_pt_rail', 'dur_pt_access', 'dur_pt_bus', 'dur_walking', 'dur_cycling', 'dur_driving']:
            print(i, set(dataframe[i]))

travel_mode {1, 2, 3, 4}
purpose {1, 2, 3, 4, 5}
fueltype {1, 2, 3, 4, 5, 6}
faretype {1, 2, 3, 4, 5}
bus_scale {0.0, 1.0, 0.5}
survey_year {1, 2, 3}
travel_year {2012, 2013, 2014, 2015}
travel_month {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
day_of_week {1, 2, 3, 4, 5, 6, 7}
female {0, 1}
driving_license {0, 1}
car_ownership {0, 1, 2}
pt_interchanges {0, 1, 2, 3, 4}
age_group {'31-65', '0-18', '19-30', '66+'}
distance_group {'distance09', 'distance10', 'distance04', 'distance06', 'distance08', 'distance03', 'distance01', 'distance11', 'distance02', 'distance07', 'distance05'}
starttime_group {'early_morning', 'morning', 'evening', 'afternoon'}
cost_group {'low_cost', 'medium_cost', 'high_cost'}
costdrivingfuel_group {'costdrivingfuelgroup5', 'costdrivingfuelgroup6', 'costdrivingfuelgroup2', 'costdrivingfuelgroup8', 'costdrivingfuelgroup1', 'costdrivingfuelgroup7', 'costdrivingfuelgroup10', 'costdrivingfuelgroup3', 'costdrivingfuelgroup9', 'costdrivingfuelgroup4'}
trafficperc_group {'2medium_traffic', '1mediumlow_traffic', '4high_traffic', '0low_traffic', '3mediumhigh_traffic'}
drivingcharge_group {'high_charge', 'low_charge'}

In [5]:
y = dataframe[['travel_mode', 'travel_year']]
X = dataframe.drop(['travel_mode', 'survey_year'], axis = 1)

print(set(X["travel_year"]))

a = X.loc[X["travel_year"]==2015]
#creating test set 

X_test= X.query('travel_year == 2015') #creates a subset, like this: X.loc[X["travel_year"]==2015]
y_test = y.query('travel_year == 2015')

X_test = X_test.drop(['travel_year'], axis =1).copy()
y_test = y_test.drop(['travel_year'], axis =1).copy()

#create training set 

X_train_1 = X.query('travel_year == 2012')
y_train_1 = y.query('travel_year == 2012')
X_train_2 = X.query('travel_year == 2013')
y_train_2 = y.query('travel_year == 2013')
X_train_3 = X.query('travel_year == 2014')
y_train_3 = y.query('travel_year == 2014')

X_train = pd.concat([X_train_1, X_train_2, X_train_3])
y_train = pd.concat([y_train_1, y_train_2, y_train_3])

X_train = X_train.drop(['travel_year'], axis = 1)
y_train = y_train.drop(['travel_year'], axis = 1)


data = pd.concat([X_train, y_train], axis = 1).copy()
#data = data_to_shuffle.sample(frac=1, random_state = 42).reset_index(drop=True) #sampling returning all, and resetting index , no seed?
y_train = data['travel_mode']
X_train = data.drop(['travel_mode'], axis = 1)

#feature selection

to_drop = ['trip_id', 'household_id', 'person_n', 'trip_n', 'travel_date', 'dur_pt_int',
          'dur_pt_rail', 'dur_pt_access', 'dur_pt_bus', 'dur_walking', 'dur_cycling', 'dur_driving']
print(f'Number of columns dropped: {len(to_drop)}')
X_train.drop(to_drop, axis = 1, inplace = True)

X_test.drop(to_drop, axis = 1, inplace = True)

predictors = X_test.columns
y = y_test #is the whole vector
print(predictors)

datatest = pd.concat([y_test, X_test], axis = 1).reset_index()
datatest.drop('index', axis = 1, inplace = True)
datatest.to_csv("data_test.csv", index = False)

datatraining = pd.concat([y_train, X_train], axis = 1).reset_index()
datatraining.drop('index', axis = 1, inplace = True)
datatraining.to_csv("data_training.csv", index = False)

{2012, 2013, 2014, 2015}
Number of columns dropped: 12
Index(['purpose', 'fueltype', 'faretype', 'bus_scale', 'travel_month',
       'day_of_week', 'female', 'driving_license', 'car_ownership',
       'pt_interchanges', 'age_group', 'distance_group', 'starttime_group',
       'cost_group', 'costdrivingfuel_group', 'trafficperc_group',
       'drivingcharge_group'],
      dtype='object')

In [6]:
display(y_train.head(10))
print(X_train.shape)
X_train.head(10)

0    4
1    4
2    4
3    4
4    4
5    4
6    4
7    4
8    4
9    4
Name: travel_mode, dtype: int64

(76103, 17)

,purpose,fueltype,faretype,bus_scale,travel_month,day_of_week,female,driving_license,car_ownership,pt_interchanges,age_group,distance_group,starttime_group,cost_group,costdrivingfuel_group,trafficperc_group,drivingcharge_group
0,3,1,1,1.0,4,7,1,1,2,0,31-65,distance02,morning,low_cost,costdrivingfuelgroup1,0low_traffic,low_charge
1,3,1,1,1.0,4,7,1,1,2,0,31-65,distance02,afternoon,low_cost,costdrivingfuelgroup1,0low_traffic,low_charge
2,3,1,1,1.0,4,7,1,1,2,0,31-65,distance08,afternoon,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge
3,3,1,1,1.0,4,7,1,1,2,0,31-65,distance08,afternoon,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge
4,3,1,4,1.0,4,7,0,1,2,0,31-65,distance08,evening,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge
5,3,1,4,1.0,4,7,0,1,2,0,31-65,distance08,evening,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge
6,3,1,3,0.0,4,7,1,0,2,0,0-18,distance02,morning,low_cost,costdrivingfuelgroup1,0low_traffic,low_charge
7,3,1,3,0.0,4,7,1,0,2,0,0-18,distance02,afternoon,low_cost,costdrivingfuelgroup1,0low_traffic,low_charge
8,3,1,3,0.0,4,7,1,0,2,0,0-18,distance08,afternoon,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge
9,3,1,3,0.0,4,7,1,0,2,0,0-18,distance08,evening,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge

In [7]:
X_train.reset_index(inplace = True, drop = True)
y_train.reset_index(inplace = True, drop = True)

X_train=X_train.applymap(str)
#y_train=y_train.astype(str)

n_features = X_train
n_features_names = list(X_train.columns)
indici = np.arange(0, len(y_train))
y = y_train

#need to bin num vars and have features, features_names empty

features = np.empty((0,0))
features_names = []


n_features['purpose'] = 'purpose' + n_features['purpose'].astype(str)
n_features['fueltype'] = 'fueltype' + n_features['fueltype'].astype(str)
n_features['faretype'] = 'faretype' + n_features['faretype'].astype(str)
n_features['bus_scale'] = 'bus_scale' + n_features['bus_scale'].astype(str)
n_features['travel_month'] = 'travel_month' + n_features['travel_month'].astype(str)
n_features['day_of_week'] = 'day_of_week' + n_features['day_of_week'].astype(str)
n_features['female'] = 'female' + n_features['female'].astype(str)
n_features['driving_license'] = 'driving_license' + n_features['driving_license'].astype(str)
n_features['car_ownership'] = 'car_ownership' + n_features['car_ownership'].astype(str)
n_features['pt_interchanges'] = 'pt_interchanges' + n_features['pt_interchanges'].astype(str)
n_features['age_group'] = 'age_group' + n_features['age_group'].astype(str)

n_features.head()

print(y.value_counts())
y = np.asarray(y)#.to_numpy()
#features = features.to_numpy()


arr_ip = [tuple(i) for i in n_features.values]
dtyp = np.dtype(list(zip(n_features.dtypes.index, n_features.dtypes)))

n_features = np.array(arr_ip, dtype=dtyp)

#n_features = np.asarray(n_features)#.to_numpy(dtype = ())

travel_mode
4    33595
3    26867
1    13367
2     2274
Name: count, dtype: int64

In [11]:
my_tree = NodeClass('n1', indici) 
tree = TREEplus(y,features,features_names,n_features,n_features_names,impurity_fn = "tau",problem="classifier",method = "LATENT-BUDGET-TREE",twoing = False, max_level = 10, min_cases_parent= 1000,min_cases_child= 500, min_imp_gain = 0.0001, surrogate_split = False) 
tree.growing_tree(my_tree, max_k = 5, combination_split = False , max_c = 5)

Split Found:  n1 [['car_ownership', ('car_ownership0',), 0.8884519855086923, 0]] start <TREEplus.NodeClass object at 0x000001BF26338B90> car_ownership in ('car_ownership0',)
node_proportion_total  0.08692787714564254
Split Found:  n2 [['distance_group', ('distance04', 'distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11'), 0.9192606197702635, 1]] left <TREEplus.NodeClass object at 0x000001BF250EF910> distance_group in ('distance04', 'distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11')
node_proportion_total  0.4729322026169833
Node_proportion_gain  0.3860043254713408
Split Found:  n4 [['distance_group', ('distance01',), 0.9939729327363488, 2]] left <TREEplus.NodeClass object at 0x000001BF263CE1D0> distance_group in ('distance01',)
node_proportion_total  0.5184779193025366
Node_proportion_gain  0.045545716685553295
Split Found:  n8 [['day_of_week', ('day_of_week6', 'day_of_week7'), 0.868597720330729, 3]] left <TREEplus.NodeClass object at 0x000001BF227DC150> day_of_week in ('day_of_week6', 'day_of_week7')
node_proportion_total  0.5445608899754701
Node_proportion_gain  0.026082970672933525
Split Found:  n16 [['trafficperc_group', ('1mediumlow_traffic', '2medium_traffic', '3mediumhigh_traffic', '4high_traffic'), 0.8189866855106902, 4]] left <TREEplus.NodeClass object at 0x000001BF1F000110> trafficperc_group in ('1mediumlow_traffic', '2medium_traffic', '3mediumhigh_traffic', '4high_traffic')
node_proportion_total  0.5620160545118233
Node_proportion_gain  0.017455164536353207
Split Found:  n32 [['starttime_group', ('evening',), 0.9827614877006678, 5]] left <TREEplus.NodeClass object at 0x000001BF250B5E90> starttime_group in ('evening',)
node_proportion_total  0.5744454060131071
Node_proportion_gain  0.01242935150128377

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Split Found:  n64 [['driving_license', ('driving_license1',), 0.8938489524811927, 6]] left <TREEplus.NodeClass object at 0x000001BF263325D0> driving_license in ('driving_license1',)
node_proportion_total  0.5839350984957113
Node_proportion_gain  0.009489692482604228

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function
Split Found:  n128 [['travel_month', ('travel_month1', 'travel_month2', 'travel_month3', 'travel_month5', 'travel_month6', 'travel_month8'), 0.810269081492966, 7]] left <TREEplus.NodeClass object at 0x000001BF225A61D0> travel_month in ('travel_month1', 'travel_month2', 'travel_month3', 'travel_month5', 'travel_month6', 'travel_month8')
node_proportion_total  0.5911484219740135
Node_proportion_gain  0.007213323478302169
Node Search Split Error for:  n256 with obs in node:  668  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n257 with obs in node:  512  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n129 [['age_group', ('age_group0-18', 'age_group31-65'), 0.9663995423964701, 7]] right <TREEplus.NodeClass object at 0x000001BF26424990> age_group in ('age_group0-18', 'age_group31-65')
node_proportion_total  0.5969130869426543
Node_proportion_gain  0.005764664968640809
Node Search Split Error for:  n258 with obs in node:  646  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n259 [['day_of_week', ('day_of_week3', 'day_of_week4', 'day_of_week5'), 1.0304957144002027, 8]] right <TREEplus.NodeClass object at 0x000001BF250892D0> day_of_week in ('day_of_week3', 'day_of_week4', 'day_of_week5')
node_proportion_total  0.6016289915098839
Node_proportion_gain  0.00471590456722959
Node Search Split Error for:  n518 with obs in node:  663  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n519 with obs in node:  883  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n65 with obs in node:  542  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n33 [['starttime_group', ('afternoon',), 0.7636877698226929, 5]] right <TREEplus.NodeClass object at 0x000001BF22974CD0> starttime_group in ('afternoon',)
node_proportion_total  0.6055583708214082
Node_proportion_gain  0.0039293793115242615
Node Search Split Error for:  n66 with obs in node:  715  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function
Node Search Split Error for:  n67 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Split Found:  n17 [['trafficperc_group', ('0low_traffic',), 0.9108124078867406, 4]] right <TREEplus.NodeClass object at 0x000001BF22504D10> trafficperc_group in ('0low_traffic',)
node_proportion_total  0.6089051255068262
Node_proportion_gain  0.0033467546854180075
Node Search Split Error for:  n34 with obs in node:  697  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n35 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n9 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Split Found:  n5 [['drivingcharge_group', ('high_charge',), 1.2031806099592073, 2]] right <TREEplus.NodeClass object at 0x000001BF229764D0> drivingcharge_group in ('high_charge',)
node_proportion_total  0.6139289737562761
Node_proportion_gain  0.005023848249449903
Split Found:  n10 [['trafficperc_group', ('0low_traffic', '1mediumlow_traffic'), 1.062218573679264, 3]] left <TREEplus.NodeClass object at 0x000001BF227EC190> trafficperc_group in ('0low_traffic', '1mediumlow_traffic')
node_proportion_total  0.6169939557254085
Node_proportion_gain  0.0030649819691324076
Split Found:  n20 [['faretype', ('faretype1', 'faretype2', 'faretype3', 'faretype4'), 0.9382674165706592, 4]] left <TREEplus.NodeClass object at 0x000001BF25091690> faretype in ('faretype1', 'faretype2', 'faretype3', 'faretype4')
node_proportion_total  0.6189971010545436
Node_proportion_gain  0.0020031453291351475
Split Found:  n40 [['age_group', ('age_group19-30', 'age_group31-65', 'age_group66+'), 1.0903179581488978, 5]] left <TREEplus.NodeClass object at 0x000001BF3F1C8350> age_group in ('age_group19-30', 'age_group31-65', 'age_group66+')
node_proportion_total  0.6207791563981376
Node_proportion_gain  0.0017820553435939912
Node Search Split Error for:  n80 with obs in node:  682  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function
Split Found:  n81 [['travel_month', ('travel_month1', 'travel_month11', 'travel_month12', 'travel_month3', 'travel_month6', 'travel_month8', 'travel_month9'), 0.9278378763140123, 6]] right <TREEplus.NodeClass object at 0x000001BF3F1C8FD0> travel_month in ('travel_month1', 'travel_month11', 'travel_month12', 'travel_month3', 'travel_month6', 'travel_month8', 'travel_month9')
node_proportion_total  0.622334154661586
Node_proportion_gain  0.0015549982634484039
Node Search Split Error for:  n162 with obs in node:  908  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n163 with obs in node:  972  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n41 [['driving_license', ('driving_license0',), 0.9760627117496415, 5]] right <TREEplus.NodeClass object at 0x000001BF225A5350> driving_license in ('driving_license0',)
node_proportion_total  0.6239663240114044
Node_proportion_gain  0.0016321693498183576
Split Found:  n82 [['cost_group', ('high_cost', 'medium_cost'), 0.9953207794874173, 6]] left <TREEplus.NodeClass object at 0x000001BF25091810> cost_group in ('high_cost', 'medium_cost')
node_proportion_total  0.6252871962382899
Node_proportion_gain  0.0013208722268854833

R[write to console]: Error in solve.default(Tb) : 'a' (3 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (3 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (3 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (3 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (3 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (3 x 2) must be square

Error in LBA function
Split Found:  n164 [['travel_month', ('travel_month1', 'travel_month12', 'travel_month2', 'travel_month4', 'travel_month6', 'travel_month9'), 1.0511686547014492, 7]] left <TREEplus.NodeClass object at 0x000001BF2282AC50> travel_month in ('travel_month1', 'travel_month12', 'travel_month2', 'travel_month4', 'travel_month6', 'travel_month9')
node_proportion_total  0.6264099806215241
Node_proportion_gain  0.00112278438323421

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n328 [['day_of_week', ('day_of_week1', 'day_of_week3', 'day_of_week5', 'day_of_week6'), 0.934297796954747, 8]] left <TREEplus.NodeClass object at 0x000001BF2508B2D0> day_of_week in ('day_of_week1', 'day_of_week3', 'day_of_week5', 'day_of_week6')
node_proportion_total  0.6274263170196638
Node_proportion_gain  0.0010163363981396945
Node Search Split Error for:  n656 with obs in node:  516  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n657 with obs in node:  861  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n329 [['travel_month', ('travel_month1', 'travel_month12', 'travel_month2'), 1.1681848989912638, 8]] right <TREEplus.NodeClass object at 0x000001BF3F226550> travel_month in ('travel_month1', 'travel_month12', 'travel_month2')
node_proportion_total  0.6283537480856226
Node_proportion_gain  0.0009274310659588281
Node Search Split Error for:  n658 with obs in node:  778  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n659 with obs in node:  561  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n165 [['day_of_week', ('day_of_week1', 'day_of_week2', 'day_of_week3', 'day_of_week4', 'day_of_week5'), 0.9983834647796404, 7]] right <TREEplus.NodeClass object at 0x000001BF26351A10> day_of_week in ('day_of_week1', 'day_of_week2', 'day_of_week3', 'day_of_week4', 'day_of_week5')
node_proportion_total  0.629225584669612
Node_proportion_gain  0.0008718365839893716

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n330 [['cost_group', ('high_cost',), 1.0710282921993621, 8]] left <TREEplus.NodeClass object at 0x000001BF2633BE50> cost_group in ('high_cost',)
node_proportion_total  0.630009107594643
Node_proportion_gain  0.0007835229250310327
Node Search Split Error for:  n660 with obs in node:  696  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n661 with obs in node:  573  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n331 [['trafficperc_group', ('2medium_traffic',), 0.9957409603396697, 8]] right <TREEplus.NodeClass object at 0x000001BF2633E850> trafficperc_group in ('2medium_traffic',)
node_proportion_total  0.6307866637598911
Node_proportion_gain  0.0007775561652481056
Split Found:  n662 [['purpose', ('purpose2', 'purpose3', 'purpose4', 'purpose5'), 0.9505305173701651, 9]] left <TREEplus.NodeClass object at 0x000001BF3F1C66D0> purpose in ('purpose2', 'purpose3', 'purpose4', 'purpose5')
node_proportion_total  0.6314698983578805
Node_proportion_gain  0.0006832345979893573

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n1324 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function
Split Found:  n1325 [['trafficperc_group', ('3mediumhigh_traffic',), 0.9279609828040107, 10]] right <TREEplus.NodeClass object at 0x000001BF3792EF10> trafficperc_group in ('3mediumhigh_traffic',)
node_proportion_total  0.6320890990826946
Node_proportion_gain  0.0006192007248141396

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Split Found:  n663 [['cost_group', ('high_cost',), 1.0804317167814617, 9]] right <TREEplus.NodeClass object at 0x000001BF3F1D6110> cost_group in ('high_cost',)
node_proportion_total  0.6326672490044609
Node_proportion_gain  0.0005781499217663022
Node Search Split Error for:  n1326 with obs in node:  920  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n1327 with obs in node:  860  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n83 [['purpose', ('purpose1', 'purpose2', 'purpose4'), 1.0772968019166118, 6]] right <TREEplus.NodeClass object at 0x000001BF22955750> purpose in ('purpose1', 'purpose2', 'purpose4')
node_proportion_total  0.6332362000999849
Node_proportion_gain  0.0005689510955240173

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n166 [['bus_scale', ('bus_scale0.0',), 0.8938325734241648, 7]] left <TREEplus.NodeClass object at 0x000001BF250B7410> bus_scale in ('bus_scale0.0',)
node_proportion_total  0.6337405320977753
Node_proportion_gain  0.0005043319977903193
Node Search Split Error for:  n332 with obs in node:  701  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n333 with obs in node:  512  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Split Found:  n167 [['cost_group', ('high_cost', 'medium_cost'), 1.302359879198931, 7]] right <TREEplus.NodeClass object at 0x000001BF25088B90> cost_group in ('high_cost', 'medium_cost')
node_proportion_total  0.6342118737957694
Node_proportion_gain  0.00047134169799412096
Node Search Split Error for:  n334 with obs in node:  603  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n335 with obs in node:  501  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n21 [['age_group', ('age_group31-65',), 1.21251303691574, 4]] right <TREEplus.NodeClass object at 0x000001BF263B9750> age_group in ('age_group31-65',)
node_proportion_total  0.6347188297333618
Node_proportion_gain  0.0005069559375924237
Split Found:  n42 [['starttime_group', ('evening', 'morning'), 1.1248167683648023, 5]] left <TREEplus.NodeClass object at 0x000001BF263BEFD0> starttime_group in ('evening', 'morning')
node_proportion_total  0.6351471494355047
Node_proportion_gain  0.0004283197021428542
Split Found:  n84 [['day_of_week', ('day_of_week1', 'day_of_week2', 'day_of_week3', 'day_of_week4', 'day_of_week5', 'day_of_week6'), 1.169475930097564, 6]] left <TREEplus.NodeClass object at 0x000001BF227CB390> day_of_week in ('day_of_week1', 'day_of_week2', 'day_of_week3', 'day_of_week4', 'day_of_week5', 'day_of_week6')
node_proportion_total  0.635557625886661
Node_proportion_gain  0.00041047645115632747

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' is 0-diml

Error in LBA function
Node Search Split Error for:  n168 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Split Found:  n169 [['age_group', ('age_group66+',), 1.0524073105047107, 7]] right <TREEplus.NodeClass object at 0x000001BF26352E90> age_group in ('age_group66+',)
node_proportion_total  0.6359393908339815
Node_proportion_gain  0.000381764947320562
Split Found:  n338 [['purpose', ('purpose3', 'purpose5'), 0.9579877679089104, 8]] left <TREEplus.NodeClass object at 0x000001BF2508B950> purpose in ('purpose3', 'purpose5')
node_proportion_total  0.6363341049377861
Node_proportion_gain  0.00039471410380453875
Split Found:  n676 [['driving_license', ('driving_license1',), 0.9863137259450294, 9]] left <TREEplus.NodeClass object at 0x000001BF22ACE9D0> driving_license in ('driving_license1',)
node_proportion_total  0.6366910565278988
Node_proportion_gain  0.0003569515901127307

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n1352 [['car_ownership', ('car_ownership2',), 0.8701423577626324, 10]] left <TREEplus.NodeClass object at 0x000001BF26352F50> car_ownership in ('car_ownership2',)
node_proportion_total  0.6370120986727291
Node_proportion_gain  0.000321042144830308
Node Search Split Error for:  n1353 with obs in node:  517  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n677 [['travel_month', ('travel_month1', 'travel_month10', 'travel_month11', 'travel_month2', 'travel_month4', 'travel_month5'), 1.1072074488540848, 9]] right <TREEplus.NodeClass object at 0x000001BF2634FA10> travel_month in ('travel_month1', 'travel_month10', 'travel_month11', 'travel_month2', 'travel_month4', 'travel_month5')
node_proportion_total  0.6373085499587632
Node_proportion_gain  0.0002964512860340607

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n1354 [['day_of_week', ('day_of_week1', 'day_of_week2', 'day_of_week4'), 1.0218801570275056, 10]] left <TREEplus.NodeClass object at 0x000001BF2633CE10> day_of_week in ('day_of_week1', 'day_of_week2', 'day_of_week4')
node_proportion_total  0.6375892588483627
Node_proportion_gain  0.00028070888959952356

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n1355 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n339 [['day_of_week', ('day_of_week1', 'day_of_week3', 'day_of_week4', 'day_of_week6'), 1.1817995688730747, 8]] right <TREEplus.NodeClass object at 0x000001BF3F1F8350> day_of_week in ('day_of_week1', 'day_of_week3', 'day_of_week4', 'day_of_week6')
node_proportion_total  0.6378551560266661
Node_proportion_gain  0.000265897178303387
Node Search Split Error for:  n678 with obs in node:  738  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Node Search Split Error for:  n679 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Split Found:  n85 [['faretype', ('faretype3', 'faretype5'), 1.2220570700462887, 6]] right <TREEplus.NodeClass object at 0x000001BF3F1D5D50> faretype in ('faretype3', 'faretype5')
node_proportion_total  0.6381145664242582
Node_proportion_gain  0.00025941039759214135

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n170 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Split Found:  n171 [['car_ownership', ('car_ownership1',), 1.3753980131411518, 7]] right <TREEplus.NodeClass object at 0x000001BF263D6890> car_ownership in ('car_ownership1',)
node_proportion_total  0.6383569293879654
Node_proportion_gain  0.0002423629637071656
Node Search Split Error for:  n342 with obs in node:  848  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n343 with obs in node:  928  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n43 [['distance_group', ('distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11'), 1.2309869428077425, 5]] right <TREEplus.NodeClass object at 0x000001BF379382D0> distance_group in ('distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11')
node_proportion_total  0.6386045100726847
Node_proportion_gain  0.0002475806847193063
Split Found:  n86 [['travel_month', ('travel_month1', 'travel_month12', 'travel_month4', 'travel_month6', 'travel_month7', 'travel_month8', 'travel_month9'), 1.0959054253293163, 6]] left <TREEplus.NodeClass object at 0x000001BF3F20D290> travel_month in ('travel_month1', 'travel_month12', 'travel_month4', 'travel_month6', 'travel_month7', 'travel_month8', 'travel_month9')
node_proportion_total  0.6388264353883921
Node_proportion_gain  0.00022192531570741636
Node Search Split Error for:  n172 with obs in node:  595  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Split Found:  n173 [['day_of_week', ('day_of_week2', 'day_of_week4', 'day_of_week6'), 1.0248532905396255, 7]] right <TREEplus.NodeClass object at 0x000001BF3F226FD0> day_of_week in ('day_of_week2', 'day_of_week4', 'day_of_week6')
node_proportion_total  0.639038594450234
Node_proportion_gain  0.00021215906184191002
Node Search Split Error for:  n346 with obs in node:  587  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n347 with obs in node:  519  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n87 [['trafficperc_group', ('0low_traffic',), 1.384118118810577, 6]] right <TREEplus.NodeClass object at 0x000001BF2633E550> trafficperc_group in ('0low_traffic',)
node_proportion_total  0.6392520081678457
Node_proportion_gain  0.00021341371761163241
Split Found:  n174 [['day_of_week', ('day_of_week6', 'day_of_week7'), 1.31784165896851, 7]] left <TREEplus.NodeClass object at 0x000001BF3F1F8710> day_of_week in ('day_of_week6', 'day_of_week7')
node_proportion_total  0.6394483445374572
Node_proportion_gain  0.00019633636961158274
Split Found:  n348 [['cost_group', ('high_cost', 'medium_cost'), 1.2538283741848897, 8]] left <TREEplus.NodeClass object at 0x000001BF2634D6D0> cost_group in ('high_cost', 'medium_cost')
node_proportion_total  0.6396357689222503
Node_proportion_gain  0.00018742438479302237

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n696 [['costdrivingfuel_group', ('costdrivingfuelgroup10', 'costdrivingfuelgroup2', 'costdrivingfuelgroup8', 'costdrivingfuelgroup9'), 1.1682486440825375, 9]] left <TREEplus.NodeClass object at 0x000001BF3F1EAB50> costdrivingfuel_group in ('costdrivingfuelgroup10', 'costdrivingfuelgroup2', 'costdrivingfuelgroup8', 'costdrivingfuelgroup9')
node_proportion_total  0.6398157258561524
Node_proportion_gain  0.00017995693390215894

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n1392 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Node Search Split Error for:  n1393 with obs in node:  613  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Split Found:  n697 [['female', ('female0',), 1.3435150017680657, 9]] right <TREEplus.NodeClass object at 0x000001BF2634F890> female in ('female0',)
node_proportion_total  0.6399876730281859
Node_proportion_gain  0.00017194717203350418
Node Search Split Error for:  n1394 with obs in node:  732  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n1395 with obs in node:  735  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n349 [['car_ownership', ('car_ownership1',), 1.4351373188520524, 8]] right <TREEplus.NodeClass object at 0x000001BF3F1E8BD0> car_ownership in ('car_ownership1',)
node_proportion_total  0.6401541061856321
Node_proportion_gain  0.00016643315744613307
Node Search Split Error for:  n698 with obs in node:  540  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n699 with obs in node:  957  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n175 [['day_of_week', ('day_of_week7',), 1.5604457990536575, 7]] right <TREEplus.NodeClass object at 0x000001BF3793AE90> day_of_week in ('day_of_week7',)
node_proportion_total  0.6403149948247474
Node_proportion_gain  0.0001608886391153419
Split Found:  n350 [['travel_month', ('travel_month1', 'travel_month10', 'travel_month12', 'travel_month2', 'travel_month4', 'travel_month5', 'travel_month6', 'travel_month7', 'travel_month8', 'travel_month9'), 1.4241943355672746, 8]] left <TREEplus.NodeClass object at 0x000001BF37925390> travel_month in ('travel_month1', 'travel_month10', 'travel_month12', 'travel_month2', 'travel_month4', 'travel_month5', 'travel_month6', 'travel_month7', 'travel_month8', 'travel_month9')
node_proportion_total  0.6404686821960331
Node_proportion_gain  0.00015368737128573784
Node Search Split Error for:  n700 with obs in node:  656  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n701 [['travel_month', ('travel_month1', 'travel_month2', 'travel_month4'), 1.5136145194185593, 9]] right <TREEplus.NodeClass object at 0x000001BF227EC050> travel_month in ('travel_month1', 'travel_month2', 'travel_month4')
node_proportion_total  0.640617429657608
Node_proportion_gain  0.00014874746157489405
Split Found:  n1402 [['cost_group', ('high_cost', 'medium_cost'), 1.4814811953691445, 10]] left <TREEplus.NodeClass object at 0x000001BF3F25BCD0> cost_group in ('high_cost', 'medium_cost')
node_proportion_total  0.640761131371357
Node_proportion_gain  0.00014370171374900043

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n1403 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n351 [['car_ownership', ('car_ownership2',), 1.6764852915672916, 8]] right <TREEplus.NodeClass object at 0x000001BF3F2497D0> car_ownership in ('car_ownership2',)
node_proportion_total  0.6408992183832084
Node_proportion_gain  0.00013808701185136218
Node Search Split Error for:  n702 with obs in node:  681  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n703 with obs in node:  503  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n11 [['car_ownership', ('car_ownership1',), 1.2961460616020628, 3]] right <TREEplus.NodeClass object at 0x000001BF2507E390> car_ownership in ('car_ownership1',)
node_proportion_total  0.6410362489061695
Node_proportion_gain  0.0001370305229611013

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Node Search Split Error for:  n22 couldn't find an appropiate looking at k variables =  16
TypeError: Node search split (CART) failure
Split Found:  n23 [['driving_license', ('driving_license0',), 1.5269989121784544, 4]] right <TREEplus.NodeClass object at 0x000001BF263B4390> driving_license in ('driving_license0',)
node_proportion_total  0.641166732753181
Node_proportion_gain  0.00013048384701153104

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n46 [['travel_month', ('travel_month10', 'travel_month11', 'travel_month12', 'travel_month4', 'travel_month5', 'travel_month6', 'travel_month8', 'travel_month9'), 1.3239639562416263, 5]] left <TREEplus.NodeClass object at 0x000001BF24FFEBD0> travel_month in ('travel_month10', 'travel_month11', 'travel_month12', 'travel_month4', 'travel_month5', 'travel_month6', 'travel_month8', 'travel_month9')
node_proportion_total  0.6412918871279719
Node_proportion_gain  0.0001251543747908812
Node Search Split Error for:  n92 with obs in node:  617  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function

R[write to console]: Error in solve.default(Tb) :
  Lapack routine dgesv: system is exactly singular: U[2,2] = 0

Error in LBA function
Split Found:  n93 [['purpose', ('purpose1', 'purpose2'), 1.40924189315563, 6]] right <TREEplus.NodeClass object at 0x000001BF3F1D4890> purpose in ('purpose1', 'purpose2')
node_proportion_total  0.6414133035958467
Node_proportion_gain  0.00012141646787477978
Node Search Split Error for:  n186 with obs in node:  736  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n187 with obs in node:  857  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Node Search Split Error for:  n47 with obs in node:  607  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n3 [['distance_group', ('distance04', 'distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11'), 1.180552524923716, 1]] right <TREEplus.NodeClass object at 0x000001BF263B9250> distance_group in ('distance04', 'distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11')
node_proportion_total  0.6421783629030007
Node_proportion_gain  0.0007650593071539813
Split Found:  n6 [['driving_license', ('driving_license0',), 1.1619663206327495, 2]] left <TREEplus.NodeClass object at 0x000001BF2633F290> driving_license in ('driving_license0',)
node_proportion_total  0.6422833978477896
Node_proportion_gain  0.00010503494478897313

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n12 [['travel_month', ('travel_month1', 'travel_month10', 'travel_month12', 'travel_month3', 'travel_month4', 'travel_month7', 'travel_month8', 'travel_month9'), 1.1772092376487109, 3]] left <TREEplus.NodeClass object at 0x000001BF379253D0> travel_month in ('travel_month1', 'travel_month10', 'travel_month12', 'travel_month3', 'travel_month4', 'travel_month7', 'travel_month8', 'travel_month9')
node_proportion_total  0.6423837357222573
Node_proportion_gain  0.00010033787446761533
Node Search Split Error for:  n24 with obs in node:  631  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n25 [['travel_month', ('travel_month1', 'travel_month12', 'travel_month3', 'travel_month7'), 1.265607383281393, 4]] right <TREEplus.NodeClass object at 0x000001BF3F1C93D0> travel_month in ('travel_month1', 'travel_month12', 'travel_month3', 'travel_month7')
node_proportion_total  0.6424804982826958
Node_proportion_gain  9.676256043855691e-05
This split isn't good now i cut it [cat delta]
Split Found:  n13 [['faretype', ('faretype1', 'faretype2', 'faretype4'), 1.1446832293237028, 3]] right <TREEplus.NodeClass object at 0x000001BF36213D90> faretype in ('faretype1', 'faretype2', 'faretype4')
node_proportion_total  0.6425903682316236
Node_proportion_gain  0.00010986994892780988

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n26 [['distance_group', ('distance01',), 1.1433680836609765, 4]] left <TREEplus.NodeClass object at 0x000001BF26332350> distance_group in ('distance01',)
node_proportion_total  0.6426998098909192
Node_proportion_gain  0.00010944165929560601

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function

R[write to console]: Error in solve.default(Tb) : 'a' (1 x 2) must be square

Error in LBA function
Split Found:  n52 [['age_group', ('age_group19-30', 'age_group31-65', 'age_group66+'), 0.939147396045271, 5]] left <TREEplus.NodeClass object at 0x000001BF3F20FC90> age_group in ('age_group19-30', 'age_group31-65', 'age_group66+')
node_proportion_total  0.6427966137126506
Node_proportion_gain  9.68038217313838e-05
This split isn't good now i cut it [cat delta]
Node Search Split Error for:  n53 with obs in node:  627  which is less than minimum parent size:  1000
TypeError: Node search split (CART) failure
Split Found:  n27 [['female', ('female1',), 1.365103265216768, 4]] right <TREEplus.NodeClass object at 0x000001BF26352490> female in ('female1',)
node_proportion_total  0.6428823605671191
Node_proportion_gain  8.574685446849362e-05
This split isn't good now i cut it [cat delta]
Split Found:  n7 [['drivingcharge_group', ('high_charge',), 1.316035753872903, 2]] right <TREEplus.NodeClass object at 0x000001BF3F2DE1D0> drivingcharge_group in ('high_charge',)
node_proportion_total  0.6429725463510068
Node_proportion_gain  9.018578388764187e-05
This split isn't good now i cut it [cat delta]

((((((((None, None), (None, (None, None))), None), (None, None)),
    (None, None)),
   None),
  ((((None, (None, None)),
     ((((None, None), (None, None)),
       ((None, None), ((None, (None, None)), (None, None)))),
      ((None, None), (None, None)))),
    (((None, ((((None, None), None), ((None, None), None)), (None, None))),
      (None, (None, None))),
     ((None, (None, None)),
      ((((None, None), (None, None)), (None, None)),
       ((None, ((None, None), None)), (None, None)))))),
   (None, ((None, (None, None)), None)))),
 (((None, None), ((None, None), None)), None))

In [28]:
tree.print_tree(table = True, html = False, merge_leaves = False)

,Node,Node Type,Variable Split,n,Deviance,Explained Deviance,Class Probabilities,Alpha,Beta,LS Error
0,n1,Parent,"car_ownership in ('car_ownership0',)",76103,173353.59,0.087,"{1: 0.18, 2: 0.03, 3: 0.35, 4: 0.44}","[[0.89, 0.11], [0.25, 0.75], [0.0, 1.0]]","[[0.28, 0.05, 0.67, 0.0], [0.11, 0.02, 0.17, 0.7]]",[]
1,n2,Parent,"distance_group in ('distance04', 'distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11')",53924,110112.33,0.473,"{1: 0.14, 2: 0.02, 3: 0.24, 4: 0.59}","[[0.0, 1.11], [0.24, 0.76], [0.44, 0.56], [0.62, 0.38], [0.76, 0.24], [0.86, 0.14], [0.91, 0.09], [0.95, 0.05], [0.99, 0.01], [1.06, 0.0], [1.09, 0.0]]","[[0.0, 0.02, 0.37, 0.63], [0.63, 0.03, 0.0, 0.39]]",[]
2,n4,Parent,"distance_group in ('distance01',)",11453,22169.04,0.518,"{1: 0.48, 2: 0.03, 3: 0.05, 4: 0.43}","[[0.78, 0.22], [0.28, 0.72], [0.0, 1.0]]","[[0.83, 0.02, 0.0, 0.15], [0.33, 0.03, 0.08, 0.56]]",[]
3,n9,Child,None,3628,5392.34,None,"{1: 0.72, 2: 0.02, 3: 0.02, 4: 0.24}",[],[],[]
4,n8,Parent,"day_of_week in ('day_of_week6', 'day_of_week7')",7825,15561.98,0.545,"{1: 0.38, 2: 0.03, 3: 0.07, 4: 0.52}","[[0.3, 0.7], [0.0, 1.0], [0.2, 0.8], [0.12, 0.88], [0.0, 1.0], [0.63, 0.37], [0.74, 0.26]]","[[0.33, 0.03, 0.03, 0.61], [0.39, 0.03, 0.09, 0.49]]",[]
5,n16,Parent,"trafficperc_group in ('1mediumlow_traffic', '2medium_traffic', '3mediumhigh_traffic', '4high_traffic')",5823,11799.44,0.562,"{1: 0.39, 2: 0.03, 3: 0.08, 4: 0.51}","[[0.49, 0.51], [0.61, 0.39], [0.74, 0.26], [0.88, 0.12], [1.0, 0.0]]","[[0.59, 0.03, 0.15, 0.22], [0.1, 0.02, 0.0, 0.87]]",[]
6,n32,Parent,"starttime_group in ('evening',)",3914,7560.22,0.574,"{1: 0.36, 2: 0.03, 3: 0.06, 4: 0.55}","[[0.0, 1.0], [0.27, 0.73], [0.62, 0.38], [0.08, 0.92]]","[[0.17, 0.01, 0.0, 0.82], [0.38, 0.03, 0.07, 0.52]]",[]
7,n65,Child,None,542,822.18,None,"{1: 0.26, 2: 0.02, 3: 0.02, 4: 0.7}",[],[],[]
8,n64,Parent,"driving_license in ('driving_license1',)",3372,6674.28,0.584,"{1: 0.37, 2: 0.03, 3: 0.07, 4: 0.53}",[],[],[]
9,n128,Parent,"travel_month in ('travel_month1', 'travel_month2', 'travel_month3', 'travel_month5', 'travel_month6', 'travel_month8')",1180,2485.15,0.591,"{1: 0.52, 2: 0.02, 3: 0.13, 4: 0.33}",[],[],[]
10,n256,Child,None,668,1411.85,None,"{1: 0.55, 2: 0.02, 3: 0.16, 4: 0.27}",[],[],[]
11,n257,Child,None,512,1040.37,None,"{1: 0.49, 2: 0.03, 3: 0.08, 4: 0.4}",[],[],[]
12,n129,Parent,"age_group in ('age_group0-18', 'age_group31-65')",2192,3849.46,0.597,"{1: 0.29, 2: 0.03, 3: 0.04, 4: 0.64}",[],[],[]
13,n258,Child,None,646,1260.27,None,"{1: 0.3, 2: 0.03, 3: 0.08, 4: 0.59}",[],[],[]
14,n259,Parent,"day_of_week in ('day_of_week3', 'day_of_week4', 'day_of_week5')",1546,2554.74,0.602,"{1: 0.29, 2: 0.03, 3: 0.02, 4: 0.66}",[],[],[]
15,n518,Child,None,663,1167.43,None,"{1: 0.31, 2: 0.05, 3: 0.02, 4: 0.62}",[],[],[]
16,n519,Child,None,883,1371.74,None,"{1: 0.27, 2: 0.02, 3: 0.02, 4: 0.69}",[],[],[]
17,n33,Parent,"starttime_group in ('afternoon',)",1909,4113.48,0.606,"{1: 0.45, 2: 0.03, 3: 0.12, 4: 0.41}",[],[],[]
18,n66,Child,None,715,1539.0,None,"{1: 0.42, 2: 0.03, 3: 0.11, 4: 0.44}",[],[],[]
19,n67,Child,None,1194,2568.79,None,"{1: 0.46, 2: 0.03, 3: 0.12, 4: 0.39}",[],[],[]
20,n17,Parent,"trafficperc_group in ('0low_traffic',)",2002,3717.99,0.609,"{1: 0.35, 2: 0.03, 3: 0.05, 4: 0.57}",[],[],[]
21,n34,Child,None,697,1402.91,None,"{1: 0.44, 2: 0.04, 3: 0.06, 4: 0.46}",[],[],[]
22,n35,Child,None,1305,2257.1,None,"{1: 0.3, 2: 0.02, 3: 0.04, 4: 0.64}",[],[],[]
23,n5,Parent,"drivingcharge_group in ('high_charge',)",42471,74895.62,0.614,"{1: 0.05, 2: 0.02, 3: 0.3, 4: 0.63}","[[0.85, 0.15], [0.19, 0.81]]","[[0.03, 0.04, 0.93, 0.0], [0.05, 0.02, 0.08, 0.85]]",[]
24,n10,Parent,"trafficperc_group in ('0low_traffic', '1mediumlow_traffic')",38446,64062.46,0.617,"{1: 0.05, 2: 0.02, 3: 0.24, 4: 0.69}","[[0.76, 0.24], [0.6, 0.4], [0.44, 0.56], [0.22, 0.78], [0.0, 1.0]]","[[0.06, 0.01, 0.0, 0.93], [0.03, 0.04, 0.55, 0.39]]",[]
25,n20,Parent,"faretype in ('faretype1', 'faretype2', 'faretype3', 'faretype4')",13067,23814.25,0.619,"{1: 0.03, 2: 0.03, 3: 0.39, 4: 0.55}","[[0.51, 0.49], [1.0, 0.0], [0.68, 0.32], [0.84, 0.16], [0.45, 0.55]]","[[0.03, 0.02, 0.74, 0.21], [0.05, 0.03, 0.0, 0.93]]",[]
26,n40,Parent,"age_group in ('age_group19-30', 'age_group31-65', 'age_group66+')",2562,4313.73,0.621,"{1: 0.03, 2: 0.01, 3: 0.34, 4: 0.61}","[[0.31, 0.69], [0.94, 0.06], [0.56, 0.44], [0.59, 0.41]]","[[0.01, 0.0, 0.66, 0.33], [0.06, 0.02, 0.0, 0.92]]",[]
27,n80,Child,None,682,899.97,None,"{1: 0.03, 2: 0.01, 3: 0.2, 4: 0.77}",[],[],[]
28,n81,Parent,"travel_month in ('travel_month1', 'travel_month11', 'travel_month12', 'travel_month3', 'travel_month6', 'travel_month8', 'travel_month9')",1880,3311.87,0.622,"{1: 0.04, 2: 0.02, 3: 0.39, 4: 0.55}",[],[],[]
29,n162,Child,None,908,1700.37,None,"{1: 0.05, 2: 0.02, 3: 0.37, 4: 0.55}",[],[],[]
30,n163,Child,None,972,1591.59,None,"{1: 0.02, 2: 0.01, 3: 0.41, 4: 0.56}",[],[],[]
31,n41,Parent,"driving_license in ('driving_license0',)",10505,19431.51,0.624,"{1: 0.03, 2: 0.03, 3: 0.4, 4: 0.53}","[[0.59, 0.41], [0.13, 0.87]]","[[0.06, 0.01, 0.93, 0.0], [0.03, 0.04, 0.25, 0.69]]",[]
32,n82,Parent,"cost_group in ('high_cost', 'medium_cost')",8188,14639.81,0.625,"{1: 0.03, 2: 0.03, 3: 0.34, 4: 0.6}","[[1.0, 0.0], [0.41, 0.59], [0.76, 0.24]]","[[0.0, 0.02, 0.46, 0.52], [0.12, 0.06, 0.0, 0.82]]",[]
33,n164,Parent,"travel_month in ('travel_month1', 'travel_month12', 'travel_month2', 'travel_month4', 'travel_month6', 'travel_month9')",2716,4889.77,0.626,"{1: 0.07, 2: 0.04, 3: 0.19, 4: 0.69}",[],[],[]
34,n328,Parent,"day_of_week in ('day_of_week1', 'day_of_week3', 'day_of_week5', 'day_of_week6')",1377,2736.36,0.627,"{1: 0.08, 2: 0.06, 3: 0.21, 4: 0.64}",[],[],[]
35,n656,Child,None,516,1058.25,None,"{1: 0.11, 2: 0.07, 3: 0.18, 4: 0.64}",[],[],[]
36,n657,Child,None,861,1668.12,None,"{1: 0.07, 2: 0.05, 3: 0.23, 4: 0.64}",[],[],[]
37,n329,Parent,"travel_month in ('travel_month1', 'travel_month12', 'travel_month2')",1339,2113.73,0.628,"{1: 0.06, 2: 0.03, 3: 0.18, 4: 0.74}",[],[],[]
38,n658,Child,None,778,1260.21,None,"{1: 0.06, 2: 0.04, 3: 0.17, 4: 0.74}",[],[],[]
39,n659,Child,None,561,843.97,None,"{1: 0.06, 2: 0.01, 3: 0.19, 4: 0.74}",[],[],[]
40,n165,Parent,"day_of_week in ('day_of_week1', 'day_of_week2', 'day_of_week3', 'day_of_week4', 'day_of_week5')",5472,9218.03,0.629,"{1: 0.01, 2: 0.03, 3: 0.41, 4: 0.55}","[[0.77, 0.23], [0.81, 0.19], [1.0, 0.0], [0.92, 0.08], [0.89, 0.11], [0.12, 0.88], [0.21, 0.79]]","[[0.01, 0.03, 0.46, 0.5], [0.02, 0.01, 0.27, 0.7]]",[]
41,n330,Parent,"cost_group in ('high_cost',)",1269,1960.62,0.63,"{1: 0.02, 2: 0.01, 3: 0.3, 4: 0.67}",[],[],[]
42,n660,Child,None,696,1091.22,None,"{1: 0.03, 2: 0.02, 3: 0.26, 4: 0.69}",[],[],[]
43,n661,Child,None,573,839.17,None,"{1: 0.0, 2: 0.01, 3: 0.35, 4: 0.63}",[],[],[]
44,n331,Parent,"trafficperc_group in ('2medium_traffic',)",4203,7150.81,0.631,"{1: 0.01, 2: 0.03, 3: 0.44, 4: 0.52}","[[0.69, 0.31], [0.3, 0.7], [0.0, 1.0]]","[[0.01, 0.0, 0.2, 0.79], [0.01, 0.05, 0.58, 0.36]]",[]
45,n662,Parent,"purpose in ('purpose2', 'purpose3', 'purpose4', 'purpose5')",2423,4250.39,0.631,"{1: 0.01, 2: 0.04, 3: 0.53, 4: 0.42}","[[0.19, 0.81], [0.99, 0.01], [0.82, 0.18], [0.8, 0.2], [0.78, 0.22]]","[[0.02, 0.01, 0.42, 0.55], [0.0, 0.07, 0.66, 0.27]]",[]
46,n1324,Child,None,1134,1901.78,None,"{1: 0.0, 2: 0.06, 3: 0.62, 4: 0.32}",[],[],[]
47,n1325,Parent,"trafficperc_group in ('3mediumhigh_traffic',)",1289,2242.5,0.632,"{1: 0.02, 2: 0.03, 3: 0.46, 4: 0.5}",[],[],[]
48,n2650,Child,None,741,1303.84,None,"{1: 0.01, 2: 0.03, 3: 0.49, 4: 0.46}",[],[],[]
49,n2651,Child,None,548,927.11,None,"{1: 0.02, 2: 0.02, 3: 0.41, 4: 0.55}",[],[],[]
50,n663,Parent,"cost_group in ('high_cost',)",1780,2646.15,0.633,"{1: 0.01, 2: 0.02, 3: 0.31, 4: 0.66}",[],[],[]
51,n1326,Child,None,920,1353.03,None,"{1: 0.01, 2: 0.02, 3: 0.26, 4: 0.7}",[],[],[]
52,n1327,Child,None,860,1266.81,None,"{1: 0.0, 2: 0.01, 3: 0.37, 4: 0.62}",[],[],[]
53,n83,Parent,"purpose in ('purpose1', 'purpose2', 'purpose4')",2317,4008.74,0.633,"{1: 0.05, 2: 0.02, 3: 0.65, 4: 0.29}","[[0.64, 0.36], [0.58, 0.42], [0.04, 0.96], [0.56, 0.44], [0.0, 1.0]]","[[0.01, 0.03, 0.96, 0.0], [0.07, 0.02, 0.51, 0.4]]",[]
54,n166,Parent,"bus_scale in ('bus_scale0.0',)",1213,2288.78,0.634,"{1: 0.06, 2: 0.02, 3: 0.52, 4: 0.4}",[],[],[]
55,n332,Child,None,701,1367.42,None,"{1: 0.07, 2: 0.03, 3: 0.56, 4: 0.34}",[],[],[]
56,n333,Child,None,512,888.14,None,"{1: 0.04, 2: 0.01, 3: 0.47, 4: 0.49}",[],[],[]
57,n167,Parent,"cost_group in ('high_cost', 'medium_cost')",1104,1525.98,0.634,"{1: 0.04, 2: 0.02, 3: 0.78, 4: 0.16}",[],[],[]
58,n334,Child,None,603,954.76,None,"{1: 0.06, 2: 0.02, 3: 0.73, 4: 0.19}",[],[],[]
59,n335,Child,None,501,540.5,None,"{1: 0.01, 2: 0.02, 3: 0.84, 4: 0.12}",[],[],[]
60,n21,Parent,"age_group in ('age_group31-65',)",25379,37810.84,0.635,"{1: 0.06, 2: 0.02, 3: 0.16, 4: 0.76}","[[0.0, 1.0], [0.17, 0.83], [0.53, 0.47], [0.38, 0.62]]","[[0.01, 0.01, 0.0, 0.97], [0.07, 0.02, 0.27, 0.64]]",[]
61,n42,Parent,"starttime_group in ('evening', 'morning')",11113,18444.73,0.635,"{1: 0.06, 2: 0.02, 3: 0.23, 4: 0.69}","[[0.39, 0.61], [0.01, 0.99], [0.61, 0.39], [0.51, 0.49]]","[[0.04, 0.02, 0.0, 0.94], [0.08, 0.02, 0.38, 0.52]]",[]
62,n84,Parent,"day_of_week in ('day_of_week1', 'day_of_week2', 'day_of_week3', 'day_of_week4', 'day_of_week5', 'day_of_week6')",7861,13537.52,0.636,"{1: 0.06, 2: 0.02, 3: 0.25, 4: 0.67}","[[0.94, 0.06], [0.88, 0.12], [0.87, 0.13], [1.0, 0.0], [0.83, 0.17], [0.58, 0.42], [0.22, 0.78]]","[[0.06, 0.01, 0.32, 0.61], [0.05, 0.03, 0.05, 0.86]]",[]
63,n168,Child,None,1165,1530.31,None,"{1: 0.05, 2: 0.02, 3: 0.11, 4: 0.81}",[],[],[]
64,n169,Parent,"age_group in ('age_group66+',)",6696,11822.74,0.636,"{1: 0.06, 2: 0.02, 3: 0.28, 4: 0.64}","[[0.0, 1.0], [0.29, 0.71], [0.59, 0.41]]","[[0.0, 0.01, 0.13, 0.86], [0.08, 0.02, 0.33, 0.57]]",[]
65,n338,Parent,"purpose in ('purpose3', 'purpose5')",4652,8776.29,0.636,"{1: 0.08, 2: 0.02, 3: 0.31, 4: 0.6}","[[0.3, 0.7], [0.0, 1.0], [0.57, 0.43], [0.4, 0.6], [0.58, 0.42]]","[[0.04, 0.01, 0.0, 0.95], [0.08, 0.02, 0.49, 0.41]]",[]
66,n676,Parent,"driving_license in ('driving_license1',)",2065,4136.8,0.637,"{1: 0.08, 2: 0.02, 3: 0.44, 4: 0.46}","[[0.44, 0.56], [0.87, 0.13]]","[[0.02, 0.02, 0.12, 0.83], [0.16, 0.01, 0.83, 0.0]]",[]
67,n1353,Child,None,517,802.58,None,"{1: 0.04, 2: 0.02, 3: 0.21, 4: 0.73}",[],[],[]
68,n1352,Parent,"car_ownership in ('car_ownership2',)",1548,3121.32,0.637,"{1: 0.1, 2: 0.02, 3: 0.51, 4: 0.37}",[],[],[]
69,n2704,Child,None,976,1963.23,None,"{1: 0.12, 2: 0.02, 3: 0.58, 4: 0.28}",[],[],[]
70,n2705,Child,None,572,1063.51,None,"{1: 0.07, 2: 0.01, 3: 0.4, 4: 0.52}",[],[],[]
71,n677,Parent,"travel_month in ('travel_month1', 'travel_month10', 'travel_month11', 'travel_month2', 'travel_month4', 'travel_month5')",2587,4304.18,0.637,"{1: 0.07, 2: 0.02, 3: 0.2, 4: 0.71}",[],[],[]
72,n1355,Child,None,1239,1813.71,None,"{1: 0.05, 2: 0.02, 3: 0.17, 4: 0.76}",[],[],[]
73,n1354,Parent,"day_of_week in ('day_of_week1', 'day_of_week2', 'day_of_week4')",1348,2458.33,0.638,"{1: 0.09, 2: 0.02, 3: 0.23, 4: 0.66}",[],[],[]
74,n2708,Child,None,789,1565.41,None,"{1: 0.12, 2: 0.03, 3: 0.23, 4: 0.62}",[],[],[]
75,n2709,Child,None,559,860.92,None,"{1: 0.04, 2: 0.01, 3: 0.23, 4: 0.72}",[],[],[]
76,n339,Parent,"day_of_week in ('day_of_week1', 'day_of_week3', 'day_of_week4', 'day_of_week6')",2044,2904.93,0.638,"{1: 0.03, 2: 0.01, 3: 0.22, 4: 0.74}",[],[],[]
77,n678,Child,None,738,1120.19,None,"{1: 0.04, 2: 0.01, 3: 0.22, 4: 0.72}",[],[],[]
78,n679,Child,None,1306,1777.14,None,"{1: 0.03, 2: 0.0, 3: 0.22, 4: 0.75}",[],[],[]
79,n85,Parent,"faretype in ('faretype3', 'faretype5')",3252,4787.09,0.638,"{1: 0.05, 2: 0.02, 3: 0.16, 4: 0.76}","[[0.5, 0.5], [0.0, 1.0], [0.52, 0.48], [0.12, 0.88], [0.72, 0.28]]","[[0.04, 0.0, 0.01, 0.95], [0.08, 0.04, 0.34, 0.53]]",[]
80,n170,Child,None,1476,2496.23,None,"{1: 0.06, 2: 0.02, 3: 0.22, 4: 0.7}",[],[],[]
81,n171,Parent,"car_ownership in ('car_ownership1',)",1776,2222.91,0.638,"{1: 0.05, 2: 0.01, 3: 0.12, 4: 0.82}","[[0.58, 0.42], [0.13, 0.87]]","[[0.04, 0.0, 0.19, 0.76], [0.05, 0.02, 0.08, 0.85]]",[]
82,n342,Child,None,848,1006.9,None,"{1: 0.05, 2: 0.02, 3: 0.09, 4: 0.84}",[],[],[]
83,n343,Child,None,928,1201.61,None,"{1: 0.05, 2: 0.01, 3: 0.15, 4: 0.8}",[],[],[]
84,n43,Parent,"distance_group in ('distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11')",14266,18749.34,0.639,"{1: 0.05, 2: 0.02, 3: 0.11, 4: 0.81}","[[0.42, 0.58], [0.68, 0.32], [0.81, 0.19], [0.91, 0.09], [0.96, 0.04], [0.98, 0.02], [1.02, 0.0], [1.05, 0.0]]","[[0.0, 0.01, 0.17, 0.82], [0.31, 0.07, 0.0, 0.67]]",[]
85,n86,Parent,"travel_month in ('travel_month1', 'travel_month12', 'travel_month4', 'travel_month6', 'travel_month7', 'travel_month8', 'travel_month9')",1701,3012.63,0.639,"{1: 0.18, 2: 0.04, 3: 0.08, 4: 0.7}","[[0.64, 0.36], [0.5, 0.5], [0.41, 0.59], [0.5, 0.5], [0.45, 0.55], [0.0, 1.0], [0.54, 0.46], [0.43, 0.57], [0.53, 0.47], [0.76, 0.24], [0.75, 0.25], [0.58, 0.42]]","[[0.3, 0.0, 0.14, 0.56], [0.04, 0.09, 0.0, 0.87]]",[]
86,n172,Child,None,595,969.66,None,"{1: 0.13, 2: 0.05, 3: 0.07, 4: 0.75}",[],[],[]
87,n173,Parent,"day_of_week in ('day_of_week2', 'day_of_week4', 'day_of_week6')",1106,2024.16,0.639,"{1: 0.21, 2: 0.04, 3: 0.08, 4: 0.68}",[],[],[]
88,n346,Child,None,587,1095.48,None,"{1: 0.25, 2: 0.03, 3: 0.07, 4: 0.65}",[],[],[]
89,n347,Child,None,519,914.82,None,"{1: 0.16, 2: 0.04, 3: 0.09, 4: 0.71}",[],[],[]
90,n87,Parent,"trafficperc_group in ('0low_traffic',)",12565,15260.93,0.639,"{1: 0.03, 2: 0.02, 3: 0.12, 4: 0.83}","[[0.57, 0.43], [0.13, 0.87]]","[[0.05, 0.02, 0.0, 0.94], [0.03, 0.02, 0.19, 0.76]]",[]
91,n174,Parent,"day_of_week in ('day_of_week6', 'day_of_week7')",5217,7094.84,0.639,"{1: 0.03, 2: 0.02, 3: 0.17, 4: 0.78}","[[0.28, 0.72], [0.0, 1.0], [0.16, 0.84], [0.03, 0.97], [0.21, 0.79], [0.56, 0.44], [0.74, 0.26]]","[[0.04, 0.01, 0.07, 0.88], [0.03, 0.03, 0.2, 0.74]]",[]
92,n348,Parent,"cost_group in ('high_cost', 'medium_cost')",3720,5283.2,0.64,"{1: 0.03, 2: 0.03, 3: 0.19, 4: 0.76}","[[0.96, 0.04], [0.17, 0.83], [0.85, 0.15]]","[[0.0, 0.02, 0.18, 0.8], [0.05, 0.03, 0.19, 0.73]]",[]
93,n696,Parent,"costdrivingfuel_group in ('costdrivingfuelgroup10', 'costdrivingfuelgroup2', 'costdrivingfuelgroup8', 'costdrivingfuelgroup9')",2253,3498.97,0.64,"{1: 0.04, 2: 0.03, 3: 0.19, 4: 0.74}",[],[],[]
94,n1392,Child,None,1640,2598.04,None,"{1: 0.05, 2: 0.03, 3: 0.17, 4: 0.74}",[],[],[]
95,n1393,Child,None,613,844.49,None,"{1: 0.0, 2: 0.02, 3: 0.26, 4: 0.72}",[],[],[]
96,n697,Parent,"female in ('female0',)",1467,1725.9,0.64,"{1: 0.01, 2: 0.02, 3: 0.18, 4: 0.8}",[],[],[]
97,n1394,Child,None,732,828.88,None,"{1: 0.01, 2: 0.01, 3: 0.17, 4: 0.81}",[],[],[]
98,n1395,Child,None,735,893.35,None,"{1: 0.0, 2: 0.02, 3: 0.18, 4: 0.79}",[],[],[]
99,n349,Parent,"car_ownership in ('car_ownership1',)",1497,1769.11,0.64,"{1: 0.04, 2: 0.01, 3: 0.12, 4: 0.83}",[],[],[]
100,n698,Child,None,540,557.3,None,"{1: 0.03, 2: 0.03, 3: 0.07, 4: 0.87}",[],[],[]
101,n699,Child,None,957,1166.93,None,"{1: 0.04, 2: 0.0, 3: 0.15, 4: 0.8}",[],[],[]
102,n175,Parent,"day_of_week in ('day_of_week7',)",7348,7957.16,0.64,"{1: 0.04, 2: 0.02, 3: 0.08, 4: 0.86}","[[0.05, 0.95], [0.2, 0.8], [0.0, 1.0], [0.12, 0.88], [0.23, 0.77], [0.43, 0.57], [0.78, 0.22]]","[[0.03, 0.01, 0.02, 0.93], [0.04, 0.02, 0.11, 0.83]]",[]
103,n350,Parent,"travel_month in ('travel_month1', 'travel_month10', 'travel_month12', 'travel_month2', 'travel_month4', 'travel_month5', 'travel_month6', 'travel_month7', 'travel_month8', 'travel_month9')",6164,6971.81,0.64,"{1: 0.04, 2: 0.02, 3: 0.09, 4: 0.85}","[[0.83, 0.17], [0.62, 0.38], [0.41, 0.59], [0.72, 0.28], [0.96, 0.04], [0.0, 1.0], [0.69, 0.31], [0.72, 0.28], [0.61, 0.39], [0.63, 0.37], [0.57, 0.43], [0.53, 0.47]]","[[0.01, 0.0, 0.09, 0.9], [0.08, 0.06, 0.09, 0.77]]",[]
104,n700,Child,None,656,852.26,None,"{1: 0.06, 2: 0.03, 3: 0.08, 4: 0.82}",[],[],[]
105,n701,Parent,"travel_month in ('travel_month1', 'travel_month2', 'travel_month4')",5508,6102.89,0.641,"{1: 0.04, 2: 0.02, 3: 0.09, 4: 0.85}","[[0.87, 0.13], [0.42, 0.58], [0.5, 0.5], [1.0, 0.0], [0.59, 0.41], [0.35, 0.65], [0.42, 0.58], [0.48, 0.52], [0.17, 0.83], [0.01, 0.99]]","[[0.02, 0.01, 0.06, 0.91], [0.05, 0.03, 0.12, 0.8]]",[]
106,n1403,Child,None,1301,1151.06,None,"{1: 0.02, 2: 0.01, 3: 0.07, 4: 0.89}",[],[],[]
107,n1402,Parent,"cost_group in ('high_cost', 'medium_cost')",4207,4930.29,0.641,"{1: 0.04, 2: 0.02, 3: 0.1, 4: 0.84}","[[0.86, 0.14], [0.15, 0.85], [0.59, 0.41]]","[[0.0, 0.01, 0.06, 0.93], [0.05, 0.03, 0.12, 0.8]]",[]
108,n2804,Child,None,3099,3904.32,None,"{1: 0.05, 2: 0.02, 3: 0.11, 4: 0.82}",[],[],[]
109,n2805,Child,None,1108,994.69,None,"{1: 0.02, 2: 0.01, 3: 0.08, 4: 0.88}",[],[],[]
110,n351,Parent,"car_ownership in ('car_ownership2',)",1184,934.87,0.641,"{1: 0.04, 2: 0.01, 3: 0.04, 4: 0.91}",[],[],[]
111,n702,Child,None,681,615.29,None,"{1: 0.05, 2: 0.01, 3: 0.05, 4: 0.89}",[],[],[]
112,n703,Child,None,503,299.71,None,"{1: 0.03, 2: 0.02, 3: 0.02, 4: 0.94}",[],[],[]
113,n11,Parent,"car_ownership in ('car_ownership1',)",4025,5331.27,0.641,"{1: 0.03, 2: 0.04, 3: 0.81, 4: 0.12}","[[0.58, 0.42], [0.13, 0.87]]","[[0.02, 0.05, 0.93, 0.0], [0.04, 0.03, 0.71, 0.23]]",[]
114,n22,Child,None,1208,1864.33,None,"{1: 0.04, 2: 0.03, 3: 0.74, 4: 0.2}",[],[],[]
115,n23,Parent,"driving_license in ('driving_license0',)",2817,3384.28,0.641,"{1: 0.03, 2: 0.04, 3: 0.84, 4: 0.09}","[[0.84, 0.16], [0.19, 0.81]]","[[0.04, 0.0, 0.95, 0.02], [0.02, 0.06, 0.78, 0.13]]",[]
116,n47,Child,None,607,436.59,None,"{1: 0.03, 2: 0.01, 3: 0.92, 4: 0.04}",[],[],[]
117,n46,Parent,"travel_month in ('travel_month10', 'travel_month11', 'travel_month12', 'travel_month4', 'travel_month5', 'travel_month6', 'travel_month8', 'travel_month9')",2210,2881.79,0.641,"{1: 0.03, 2: 0.05, 3: 0.81, 4: 0.11}",[],[],[]
118,n92,Child,None,617,913.57,None,"{1: 0.04, 2: 0.04, 3: 0.77, 4: 0.15}",[],[],[]
119,n93,Parent,"purpose in ('purpose1', 'purpose2')",1593,1940.64,0.641,"{1: 0.02, 2: 0.06, 3: 0.83, 4: 0.09}",[],[],[]
120,n186,Child,None,736,995.3,None,"{1: 0.03, 2: 0.03, 3: 0.8, 4: 0.14}",[],[],[]
121,n187,Child,None,857,891.85,None,"{1: 0.01, 2: 0.07, 3: 0.86, 4: 0.06}",[],[],[]
122,n3,Parent,"distance_group in ('distance04', 'distance05', 'distance06', 'distance07', 'distance08', 'distance09', 'distance10', 'distance11')",22179,43438.91,0.642,"{1: 0.26, 2: 0.04, 3: 0.62, 4: 0.08}","[[0.06, 0.94], [0.22, 0.78], [0.39, 0.61], [0.59, 0.41], [0.77, 0.23], [0.85, 0.15], [0.95, 0.05], [0.99, 0.01], [1.0, 0.0], [1.0, 0.0], [1.01, 0.0]]","[[0.0, 0.05, 0.87, 0.09], [0.94, 0.03, 0.0, 0.03]]",[]
123,n7,Child,None,16307,25702.84,None,"{1: 0.1, 2: 0.05, 3: 0.77, 4: 0.09}","[[0.83, 0.17], [0.19, 0.81]]","[[0.06, 0.07, 0.88, 0.0], [0.11, 0.04, 0.72, 0.12]]",[]
124,n6,Parent,"driving_license in ('driving_license0',)",5872,9279.29,0.642,"{1: 0.73, 2: 0.03, 3: 0.2, 4: 0.05}","[[0.74, 0.26], [0.17, 0.83]]","[[0.69, 0.0, 0.26, 0.05], [0.77, 0.06, 0.13, 0.04]]",[]
125,n12,Parent,"travel_month in ('travel_month1', 'travel_month10', 'travel_month12', 'travel_month3', 'travel_month4', 'travel_month7', 'travel_month8', 'travel_month9')",1913,2968.15,0.642,"{1: 0.76, 2: 0.05, 3: 0.15, 4: 0.04}",[],[],[]
126,n24,Child,None,631,1091.08,None,"{1: 0.71, 2: 0.03, 3: 0.17, 4: 0.08}",[],[],[]
127,n25,Child,None,1282,1838.27,None,"{1: 0.78, 2: 0.06, 3: 0.14, 4: 0.02}",[],[],[]
128,n13,Parent,"faretype in ('faretype1', 'faretype2', 'faretype4')",3959,6218.77,0.643,"{1: 0.71, 2: 0.02, 3: 0.23, 4: 0.05}","[[0.59, 0.41], [0.64, 0.36], [0.17, 0.83], [0.7, 0.3], [0.0, 1.0]]","[[0.93, 0.04, 0.0, 0.03], [0.6, 0.01, 0.35, 0.05]]",[]
129,n27,Child,None,2158,2787.78,None,"{1: 0.81, 2: 0.02, 3: 0.13, 4: 0.04}","[[0.39, 0.61], [0.89, 0.11]]","[[0.78, 0.0, 0.17, 0.05], [0.88, 0.07, 0.06, 0.0]]",[]
130,n26,Parent,"distance_group in ('distance01',)",1801,3178.78,0.643,"{1: 0.6, 2: 0.01, 3: 0.33, 4: 0.06}",[],[],[]

In [18]:

#import warnings
#warnings.filterwarnings("ignore", category=FutureWarning) 


tree.print_tree(table = False, html = False, merge_leaves = True)#.style.hide()

In [20]:
X_test = X_test.copy()
y_test = y_test.copy()

X_test['purpose'] = 'purpose' + X_test['purpose'].astype(str)
X_test['fueltype'] = 'fueltype' + X_test['fueltype'].astype(str)
X_test['faretype'] = 'faretype' + X_test['faretype'].astype(str)
X_test['bus_scale'] = 'bus_scale' + X_test['bus_scale'].astype(str)
X_test['travel_month'] = 'travel_month' + X_test['travel_month'].astype(str)
X_test['day_of_week'] = 'day_of_week' + X_test['day_of_week'].astype(str)
X_test['female'] = 'female' + X_test['female'].astype(str)
X_test['driving_license'] = 'driving_license' + X_test['driving_license'].astype(str)
X_test['car_ownership'] = 'car_ownership' + X_test['car_ownership'].astype(str)
X_test['pt_interchanges'] = 'pt_interchanges' + X_test['pt_interchanges'].astype(str)
X_test['age_group'] = 'age_group' + X_test['age_group'].astype(str)

X_test.head()

,purpose,fueltype,faretype,bus_scale,travel_month,day_of_week,female,driving_license,car_ownership,pt_interchanges,age_group,distance_group,starttime_group,cost_group,costdrivingfuel_group,trafficperc_group,drivingcharge_group
76103,purpose3,fueltype1,faretype1,bus_scale1.0,travel_month1,day_of_week4,female1,driving_license0,car_ownership1,pt_interchanges1,age_group19-30,distance07,morning,medium_cost,costdrivingfuelgroup7,1mediumlow_traffic,low_charge
76104,purpose3,fueltype1,faretype1,bus_scale1.0,travel_month1,day_of_week4,female1,driving_license0,car_ownership1,pt_interchanges1,age_group19-30,distance07,afternoon,medium_cost,costdrivingfuelgroup7,1mediumlow_traffic,low_charge
76105,purpose3,fueltype1,faretype1,bus_scale1.0,travel_month1,day_of_week4,female0,driving_license1,car_ownership1,pt_interchanges1,age_group31-65,distance07,morning,medium_cost,costdrivingfuelgroup7,1mediumlow_traffic,low_charge
76106,purpose3,fueltype1,faretype1,bus_scale1.0,travel_month1,day_of_week4,female0,driving_license1,car_ownership1,pt_interchanges1,age_group31-65,distance07,afternoon,medium_cost,costdrivingfuelgroup7,1mediumlow_traffic,low_charge
76107,purpose5,fueltype1,faretype1,bus_scale1.0,travel_month1,day_of_week4,female0,driving_license1,car_ownership2,pt_interchanges0,age_group31-65,distance06,afternoon,low_cost,costdrivingfuelgroup7,0low_traffic,low_charge

In [21]:
n_features_test = X_test.copy()
features_test = []

n_features_test.reset_index(inplace = True, drop = True)
y_test.reset_index(inplace = True, drop = True)
y_test_list = y_test["travel_mode"].values.tolist()

pruning not prepared for combination

In [22]:
y_test['travel_mode'].value_counts()

travel_mode
4    2213
3    1738
1     901
2     131
Name: count, dtype: int64

takes a whle for comb to prune, 100min

In [23]:
y_test = np.asarray(y_test)#.to_numpy()
#features = features.to_numpy()


arr_ip = [tuple(i) for i in n_features_test.values]
dtyp = np.dtype(list(zip(n_features_test.dtypes.index, n_features_test.dtypes)))

n_features_test = np.array(arr_ip, dtype=dtyp)

In [24]:
alpha, pruned_table = tree.pruning(features_test, n_features_test, y_test_list, table = True, print_tree = True, html = False)
#pruned_table.style.hide()

Best tree for test set has 17 leaves with misclassification count 1337

In [27]:
predictions = []

for i in range(n_features_test.shape[0]):
    d = dict(zip(n_features_names, n_features_test[i].T))
    #d = dict(n_features_test[i])
    tree.pred_x(my_tree, d, tree.get_all_node(), tree.get_leaf())
    predictions.append(tree.prediction_cat[-1])

KeyboardInterrupt:

In [ ]:
y_test = y_test.ravel()

In [ ]:
y_test[0:5].tolist()

[4, 4, 4, 4, 4]

In [ ]:
y_test_list = y_test.tolist()

missclass = 0 

for i in range(len(predictions)):
    if predictions[i] != y_test_list[i]:
        missclass += 1 

round(missclass / len(y_test_list) * 100, 2)

25.37

27.61 non combination

26.53 combination

In [ ]:
missclass1 = 0 
class1 = 0
missclass2 = 0 
class2 = 0
missclass3 = 0 
class3 = 0
missclass4 = 0 
class4 = 0

for i in range(len(predictions)):
    if y_test_list[i] ==1:
        class1 += 1
        if predictions[i] != y_test_list[i]:
            missclass1 += 1 
    if y_test_list[i] ==2:
        class2 += 1
        if predictions[i] != y_test_list[i]:
            missclass2 += 1 
    if y_test_list[i] ==3:
        class3 += 1
        if predictions[i] != y_test_list[i]:
            missclass3 += 1 
    if y_test_list[i] ==4:
        class4 += 1
        if predictions[i] != y_test_list[i]:
            missclass4 += 1 


"Accuracy", round((1-missclass1 / class1) * 100, 2), round((1-missclass2 / class2) * 100, 2), round((1-missclass3 / class3) * 100, 2), round((1-missclass4 / class4 )* 100, 2)

('Accuracy', 63.49, 0.0, 73.99, 84.09)